{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}?version=3.2">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?version=3.1">
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">#}
{#        <link href="{% static 'ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" />#}
        <link rel="stylesheet" type="text/css" href="{% static 'css/maps.css' %}?version=4.1">
        <title>CREOLINK - Equipements</title>

        <!-- Bootstrap Core CSS -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/ikwen-util.js' %}"></script>
{#        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD5bSEUzqMvAeOCnEctZ52G1Qt-tFUP-s&libraries=geometry&callback=initialize"></script>#}

        <script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBEGU-6-JeJW9oa5D8WSIsFXK-aN9CwHqI"></script>

        <script type="text/javascript" src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
{#        <script src="{% static 'ajaxuploader/js/fileuploader.js' %}" ></script>#}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <style>
        @media (min-width: 768px){
            #wrapper {
                padding-left: 0;
            }
        }
         #wrapper {
                padding-left: 0;
            }
        #lightbox .dialog {border: transparent; border-radius: 3px; padding: 15px;}
        #lightbox .dialog .btn{width: 90px}
        #equipment .client {display: none}
        div.tooltip-html-text span.cleared {float: left; clear: both}
        div.tooltip-html-text span.resp {float: left; margin-top: 0; margin-left: 12px}
        div.tooltip-html-text span b {float: left}
        div.tooltip-html-text .spinner{background-position: center; background-repeat: no-repeat; background-size: 145% auto; background-image: url({% static 'img/spinner.gif' %}); height: 285px; position: absolute}
        div.tooltip-html-text  div.desc {margin-top: 12px; margin-left: 0; width: 236px}
        div.tooltip-html-text .stage {height:0}
        div.fiber-tooltip-html-text h4 {font-size: 13px}
        div.fiber-tooltip-html-text div.desc {margin-top: 12px; width: 275px}
        div.fiber-tooltip-html-text .distance b {background-position: center; background-repeat: no-repeat; background-size: 70% auto; background-image: url({% static 'img/double_arrow_40.png' %}); float: left; font-size: 12px; height: 20px; width: 50px}
        div.fiber-tooltip-html-text div {margin-top: 10px; float: left; clear: both;font-size: 12px;}
        div.fiber-tooltip-html-text div:first-child {margin-top: 25px}
        div.fiber-tooltip-html-text div b{float: left; font-size: 12px;}
        div.fiber-tooltip-html-text div span, div.fiber-tooltip-html-text div em{float: left; margin-left: 7px;font-size: 12px;}
        div.fiber-tooltip-html-text div.description span{margin-left: 0;}
        div.fiber-tooltip-html-text div.created-on {margin-top: 16px; font-size: 12px;}
        div#suggestions-for-view section div.result ul {padding-bottom: 15px;}
        #dist-reload {float: left; clear: both; padding: 30px;}
        span.color {float: left; height: 15px; width: 15px}
        span.op-name {float: left; margin-left: 5px}
        label.checkbox {clear: both}
    </style>
    <body>
        <div id="top-notice-ctnr" class="ik-hdn">
            <span class="floating-notice" style=""></span>
        </div>
        <div id="wrapper">
            <div id="equipement-viewer" class="">
                <!-- filter -->
{#                <button class="glyphicon glyphicon-triangle-bottom" data-toggle="collapse" aria-expanded="false" data-target="#filter">dfgdhfd</button>#}
                <div id="filter" class="subtle-shade">
                    <div class="header top">
                        <h5>{{ user_profile.operator.name }}</h5>
                    </div>
                    <div class="filters" id="filtered">
                        <section class="cities">
                            <div class="header">Cities</div>
                            <div class="details">
                                <ul>
                                    {% for city in cities %}
                                    <li class="city">
                                        {% if request.user.is_superuser %}
                                            <a href="#" class="criterion" data-city="{{ city.id }}"  data-lat='{{ city.latitude }}' data-lng="{{ city.longitude }}">{{ city.name }}</a>
                                        {% else %}
                                            <a href="#" class="criterion" data-lat='{{ city.latitude }}' data-lng="{{ city.longitude }}">{{ city.name }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </section>
                        {% if show_operators %}
                        <section class="Fibers">
                            <div class="header">Operators</div>
                            <div class="details" style="margin-left: 5px">
                                {% for operator in operators %}
                                    <label class="checkbox" style="padding-left: 0">
                                        <span class="color" style="background: {{ operator.fiber_color }}"></span><span class="op-name">{{ operator.name }}</span>
{#                                        <input type="checkbox" checked data-operatorId="{{ operator.id }}" class="criterion operator"  value="{{ operator.id }}">{{ operator.name }}#}
                                    </label>
                                {% endfor %}
                            </div>
                        </section>
                        {% endif %}
                        <section class="Devices">
                            <div class="header">Device categories</div>
                            <div class="details">
                                {% for category in categories %}
                                    <label class="checkbox">
                                        <input data-categoryid="{{ category.id }}" checked type="checkbox" class="criterion devicecategory" value="{{ category.id }}">{{ category.name }}
                                    </label>
                                {% endfor %}
                            </div>
                        </section>
                        <section class="fiber-status">
                            <div class="header">Fiber status</div>
                            <div class="details">
                                <label class="checkbox"><input type="checkbox" checked  data-status="Pending" class="criterion fiberstatus" value="Pending">Pending</label>
                                <label class="checkbox"><input type="checkbox" checked  data-status="Validate" class="criterion fiberstatus"  value="Validate">Confirmed</label>
                            </div>
                        </section>
                        <section class="Device-status">
                            <div class="header">Device status</div>
                            <div class="details">
                                <label class="checkbox"><input type="checkbox" checked data-status="Pending" class="criterion devicestatus" value="Pending">Pending</label>
                                <label class="checkbox"><input type="checkbox" checked data-status="Validate" class="criterion devicestatus"  value="Validate">Confirmed</label>
                            </div>
                        </section>
                        <section id="dist-reload"></section>
                    </div>
                </div>
                <div id="tools">
                    <div class="coords subtle-shade">
                        <div class="lat coord">
                            <span>Lat:</span>
                            <span id="latspan">0.0000000</span>
                        </div>
                        <div class="lng coord" style="float: left;margin-left: 12px">
                            <span>Lng:</span>
                            <span id="lngspan">0.0000000</span>
                        </div>
                        <span id='add-coords' style="background-image: url('{% static "img/plus-green-icon.png" %}');background-size: 100% auto; cursor: pointer; float: right; height: 16px; margin-top: 4px; width: 16px" title="Add new coordinates"></span>
                    </div>
                    <a href="#">
                        <div class="action subtle-shade">
                            <span id='live-drawing' style="background-image: url('{% static "img/draw_black-icon.png" %}')" title="Live drawing"></span>
                        </div>
                    </a>

                    <div class="action subtle-shade">
                        <span id='erase' style="background-image: url('{% static "img/erase_black.png" %}')" title="Clear the map"></span>
                    </div>
                    <div class="action subtle-shade">
                        <span id='measure-line' style="background-image: url('{% static "img/minus.png" %}')" title="Measure"></span>
                    </div>
                    <div class="action subtle-shade ik-hdn">
                        <span id='view-all-equipments' style="background-image: url('{% static "img/refresh-grey-512.png" %}')" title="View all Equipment back"></span>
                    </div>
                    <div class="subtle-shade">
                         <form role="form" class='transform' id="search" style="">
                             <div class="form-group" style="margin-bottom: 0">
                                 <input type="text" id="keyword" style="border-radius: 3px;border: solid 1px #CCC;font-size: 12px; height: 23px;padding-left: 10px; width: 290px;" placeholder="Search">
                                 <input type="hidden">
                                 <div id="suggestions-for-view" style="display:none; margin-top: 30px">
                                     <div class="close" style="padding: 5px 12px; margin-left: 270px;"> X </div>
                                     <section class="techies">
                                         <header>Techies</header>
                                         <div class="result">
                                             <ul class="techie">
                                                 <li class="ik-hdn choosen"><a href="#" data-type="techie" data-key="1"></a></li>
                                                 <li class="line tpl"><a href="#" data-techname="" data-type="techie" data-key="1"></a></li>
                                             </ul>
                                         </div>
                                         <div class="more"></div>
                                     </section>
                                     <section class="fibers">
                                         <header>Fibers</header>
                                         <div class="more"></div>
                                         <div class="result">
                                             <ul class="fiber">
                                                 <li class="ik-hdn choosen"><a href="#" data-type="fiber" data-key=""></a></li>
                                                 <li class="line tpl"><a href="#" data-type="techie" data-key="1"></a></li>
                                             </ul>
                                        </div>
                                         <div class="more"></div>
                                     </section>
                                     <section class="devices">
                                         <header>Devices</header>

                                         <div class="result">
                                             <ul class="device">
                                                 <li class="ik-hdn choosen"><a href="#" data-type="device" data-key=""></a></li>
                                                 <li class="line tpl"><a href="#" data-type="" data-key="1"></a></li>
                                             </ul>
                                         </div>
                                         <div class="more"></div>
                                     </section>
                                 </div>

                             </div>
                        </form>
                    </div>
                    <div class="action subtle-shade" id="toggle-search-inp" style="margin-left: -30px">
                         <span id='search-btn' style="background-image: url('{% static "img/search.png" %}')" title="search"></span>
                    </div>
                </div>
                <div class="measure subtle-shade ik-hdn" id="current-polyline-length" style="background-color: #fff; color: #2cab2c; padding: 5px; position: fixed; right: 70px; top: 10px;z-index: 10">0.00 Meter</div>
                <div class="action user subtle-shade" style="position: fixed; right: 20px; top: 10px;z-index: 10">
                     <span id='show-search' style="background-image: url('{% static "img/user-icon.png" %}');" title="search"></span>
                </div>
            </div>

            <div id="ld-tools-content" class="ik-hdn">
                <div id="ld-filter" class="subtle-shade">
                    <div class="header">
                        <h5>Live drawing</h5>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </div>
                    <section class="equipments" style="margin-top: 10px; ">
                        <div class="details">
                            <ul>
                                <li id="back-to-equipment">
                                     <a href="#" class="criterion"> View equipments</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section id="line-search" style="border-bottom: transparent; padding-bottom: 5px">
                        <form role="form" id="line-search" style="clear: both; margin-left: 15px; margin-top: 5px">
                            <div class="form-group">
                                 <label for="type" style="cursor: default; font-size: 12px">Find a line</label>
                                 <input type="text" id="line-keyword" style="border-radius: 4px;font-size: 12px; height: 30px; width: 170px;" placeholder="Search a line">
                                 <input type="hidden">
                                 <div id="suggestions-for-lines" style=""></div>
                            </div>
                            <div class="form-group ik-hdn">
                                <label for="type">Real Coords</label>
                                <textarea id="latlngBrutes" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group ik-hdn">
                                <label for="type hidden">Encoded coords</label>
                                <textarea id="latlngEncodees" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group" style="clear: both">
                                 <button class="btn validate btn-success btn-sm" style="font-weight: 700; font-size: 12px; width: 169px;">Submit</button>
{#                                <button type="button" class="btn btn-primary btn-lg btn-block" style="background: #0EBB2A">#}
{#                                    Submit#}
{#                                </button>#}
                            </div>
                        </form>
                    </section>
                </div>
                <div class="ld-toolbox" style="position: fixed; right:75px ; top:9px; z-index: 50">
                    <div class="action subtle-shade" style="padding: 0">
                        <button id='done' class="btn validate btn-success btn-sm" style="font-weight: 700; font-size: 12px;width: 90px;" title="Confirm">Done</button>
{#                        <button style="background-color: #0EBB2A; border: solid 2px  #0EBB2A; color: #FFF;font-size: 12px;font-weight: 700; padding: 3px 20px" title="Confirm"></button>#}
                    </div>
                </div>
            </div>


            <nav role="navigation" class="nav">
                <ul class="nav-items">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" style="height: 31px;margin: 0 4px; padding: 5px 14px;"></a>
                        <nav class="submenu">
                            <ul class="submenu-items">
                                <li class="submenu-item" style="font-weight: 700; font-size: 12px; margin-left: 10px; overflow: hidden; width: 87%;">{{ request.user }}</li>
                                <li class="submenu-item"><hr class="submenu-seperator" /></li>
                                <li class="submenu-item"><a href="{% url 'admin:index' %}" class="submenu-link" target="_blank">Admin</a></li>
                                {% if request.user.is_superuser %}
                                <li class="submenu-item"><a href="{% url 'statistic' %}" class="submenu-link">Stats</a></li>
                                {% endif %}
                                <li class="submenu-item"><a href="{% url 'logout' %}" class="submenu-link">Logout</a></li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </nav>
            <!-- Page Content -->
            <button id="save-fiber-modification" class="ik-hdn btn validate btn-success btn-sm" style="font-weight: 700; font-size: 12px; position:fixed; top: 12px; right: 62px; z-index: 5">Save my modifications</button>

            <div id="page-content-wrapper" style="cursor: default; padding: 0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                           <div id="map_canvas" style="cursor: default; width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'localizing/snippets/ligthboxes.html' %}
        <div class="loading-progress">
            <div style="margin: 20% auto; width: 60%">
                <p style="text-align: center">
                    Loading. Please wait ...
                    <strong class="progress-rate" style="color: #003192">0%</strong>
                </p>
            </div>
        </div>
        <div id='' class="tooltip-html-text tpl">
             <div class="spinner"></div>
            <h4></h4>
            <div class="client">
                <div class="code" style="text-align: center"></div>
                <div class="client-name"></div>
            </div>
            <div class="stage">
                <div class="slider">
                    <div class="photo"></div>
                </div>
            </div>
            <div class="desc">
                <p>A much detailed description goes here ...</p>
            </div>
            <div style="clear: both;">
                <div>
                    <span class="admin"><a href="{{ admin_url }}" target="_blank">View in admin</a></span>
{#                    <span class="reload" style="float: right;"><a href="#" deviceid=""><img width="20" src="{% static 'img/refresh-grey-512.png' %}" title="reload this fiber"></a></span>#}
                </div>
                 <span class="view-img"><a href="#">View image</a></span>
                <span class="created cleared"><b> Created on: </b> <span class="resp"></span></span>
                <span class="techie cleared" style="margin-top: 5px"><b> Techie: </b><span class="resp"></span></span>
            </div>
        </div>
        <div class="fiber-tooltip-html-text tpl">
            <h4></h4>
            <div class="description" style="float: left; width: 250px">
                <span class=""></span>
            </div>
            <div style="clear: both; float: left">
                <span class="admin" style="margin-left: 0"><a href="{{ admin_url }}" target="_blank">View in admin</a></span>
            </div>
            <div class="edit-lnk" style="float: right;margin-top: -10px">
                <span class="admin" style=""><a href="#" target="_blank" fiberid="">Edit this fiber</a></span>
                <span class="reload" style=""><a href="#" fiberid=""><img width="20" src="{% static 'img/refresh-grey-512.png' %}" title="reload this fiber"></a></span>
            </div>
            <div class="created-on">
                <b>Plot on:</b>
                <span class=""></span>
            </div>
            <div class="techie">
                <b>Techie:</b>
                <span class=""></span>
            </div>
            <div class="distance">
                <b style=""></b>
                <span class=""></span>
                <em style="">Meters</em>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Menu Toggle Script -->
        {% include 'localizing/snippets/home_page_js.html' %}
    </body>
</html>
